// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'open_sansregular',
sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$light-green: rgba(62, 158, 135, 0.8);
$green: rgb(35,142,141);
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #1A1311;
$white: #fff;
$secondary: #474645;
$dark: rgb(62,58,57);

$light-silver: #EBEBEB;
$silver: rgba(247,248,248);
$dark-silver: #BDBEBF;
$gray: rgb(35,24,21);